h1{

    text-align: center;
    background-color: deeppink;
    color: aqua;
}
p{
    text-align: center;
   color: hotpink;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
