<h1 class="container text-align-center" style="color: aqua;">Event Binding</h1>
<h4 class="container text-align-center" style="color:crimson;">Calculator</h4>
<div class="container">
<table class="">
    <tr>
        <td>First Number:-</td>
        <td>
            <input type="number" #t1>
        </td>
    </tr>
    <tr>
        <td>Second Number:-</td>
        <td>
            <input type="number" #t2>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-info" (click)="add(t1.value,t2.value)">Addition</button>
        </td>
    </tr>
    <p>Addition is:-{{result}}</p>
    <tr>
        
        <td></td>
        <td>
            <button class="btn btn-primary" (click)="sub(t1.value,t2.value)">Subtraction</button>
        </td>
    </tr>
    <p>Subtraction is:-{{resultsub}}</p>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-success" (click)="mul(t1.value,t2.value)">Multiplication</button>
        </td>
    </tr>
    <p>Multiplication is:-{{resultmul}}</p>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-warning" (click)="div(t1.value,t2.value)">Division</button>
        </td>
    </tr>
    <p>Division is:-{{resultdiv}}</p>
    <!-- <tr>
        <td>First Number:-</td>
        <td>
            <input type="number" #t1>
        </td>
    </tr>
    <tr>
        <td>Second Number:-</td>
        <td>
            <input type="number" #t2>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-primary" (click)="add(t1.value,t2.value)">Addition</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-warning" (click)="sub(t1.value,t2.value)">Subtraction</button>
        </td>
    </tr>
        <tr>
            <td></td>
        <td>
            <button class="btn btn-info" (click)="mul(t1.value,t2.value)">Multiplication</button>
        </td>
    </tr>
        <tr>
            <td></td>
        <td>
            <button class="btn btn-success" (click)="div(t1.value,t2.value)">Division</button>
        </td>
    </tr>
    
    <p>Addition is:-{{result}}</p>
    <p>Subtraction is:-{{resultsub}}</p>
    <p>Multiplication is:-{{resultmul}}</p>
    <p>Division is:-{{resultdiv}}</p> -->


</table>
</div>